@use 'variables' as *;
@use 'mixins' as *;

header {
    height: 100vh;
    background: url('../assets/bg-header.webp') center/cover fixed;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    .header-box{
        z-index: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
        
    }

    h1{
        font-size: 2rem;
        @include lg-screen{
            font-size: 3.4rem;
        }
        @include md-screen{
            font-size: 5.4rem;
        }
        // text-align: center;
        line-height: 2.4rem;

        margin-bottom: 50px;

    }
    p{
        margin-bottom: 50px;
        width: 60%;
        line-height: 2.2rem;
        font-size: 1.3rem;
    }
    a{
        text-align: center;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        font-size: 110%;
        line-height: 60px;
        
        background-color: $color4;
        width: 200px;
        height: 60px;
        border-radius: 6px;
        
        transition: .5s;

        &:hover{
            background-color:$color4-transparent;
            transform: translateX(10px);
            
        }


    }

        &::after{
            content: '';
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }